@model Talagozis.Website.Models.Blocks.CodeBlock

<div class="row justify-content-center">
    <div class="col-sm-10">
        <pre class="block-code">
            @Html.Raw(Model.Body)
        </pre>
    </div>
</div>