@using Talagozis.AspNetCore.Models.ViewModels.Html

@model Talagozis.Website.Models.ViewModels.PaymentViewModel

@{
    Layout = "~/Views/Layout/Home.cshtml";
}

@{
    Model.htmlHeader = new HtmlHeaderViewModel
    {
        title = "Payment",
        breadcrumps = new List<Breadcrump>
        {
            new Breadcrump {text = "Home"},
            new Breadcrump {controller = "Home", action = "Payment", text = "Payment"},
        },
    };
}

@section css {
    <link rel="stylesheet" href="~/lib/manisa/css/manisa-icon.css" />
    <link rel="stylesheet" href="~/lib/manisa/css/lightbox.min.css" />
    <link rel="stylesheet" href="~/lib/manisa/css/slick.css" />
    @*<link rel="stylesheet" href="css/style.css">*@
    <style>
        .section-head {
            margin-bottom: 80px;
            text-align: center;
        }
        .section-head h3 {
            font-weight: 900;
            font-size: 40px;
            position: relative;
            display: inline-block;
            z-index: 4;
        }
        .contact {
            padding-bottom: 30px;
        }
        .contact .info .item {
            margin-bottom: 30px;
        }
        .contact .info .item span {
            display: inline-block
        }
        .contact .info .item .icon {
            font-size: 25px;
            margin-bottom: 15px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            background: #019d9b;
            border-radius: 50%;
            -webkit-transition: all .5s;
            transition: all .5s;
            color: white;
        }
        .contact .info .item h6 {
            font-weight: 700;
            margin-bottom: 10px;
        }
        .contact .form input[type="text"], .contact .form input[type="email"], .contact .form textarea {
            width: 100%;
            border: 0;
            border-radius: 5px;
            padding: 10px;
            background: #f4f4f4;
        }
        .contact .form .buton {
            padding: 10px 40px;
        }
        .button-bg {
            background: #1c1c1c;
            color: #eee;
        }
        .button {
            padding: 10px 30px;
            border: 1px solid #1c1c1c;
            border-radius: 5px;
            font-size: 15px;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
    </style>
}

@section js {
    <script src="~/js/manisa.js"></script>
    
}


<section class="contact row" >
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-head">
                    <h3>Buy now</h3>
                </div>
            </div>

            <div class="offset-md-1 col-md-10">
                <form class="form row" method="post" asp-controller="Payment" asp-action="Purchase">

                    <div class="offset-md-2 col-md-8">
                        <div class="form-group">
                            <select class="custom-select" name="productBid">
                                <option selected value="1">Coffee | 3.50€</option>
                                <option value="2">Beer | 5€</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="offset-md-2 col-md-8" style="text-align: right;">
                        <input value="Donate" class="button button-bg disabled" type="submit" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
