<div class="footer-content">
    <div style="padding: 50px 0 30px;">
        <a asp-area="" asp-controller="Payment" asp-action="">
            <img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/PP_Acceptance_Marks_for_LogoCenter_76x48.png" style="height: 40px; margin-right: 10px;" />
            <span style="font-size: 17px; color: #424242;">Buy me a coffee?</span>
        </a>
    </div>
    <div class="social-media-footer" style="padding: 20px 0 20px;">
        <a href="https://www.linkedin.com/in/talagozis/" target="_blank">
            <i class="fa fa-linkedin" style="font-size: 20px;"></i>
        </a>
        <a href="https://github.com/Talagozis" target="_blank">
            <i class="fa fa-github" style="font-size: 20px;"></i>
        </a>
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="" style="font-size: 35px; font-weight: normal; letter-spacing: 1px; font-family: Bebas Neue; line-height: 35px; padding: 10px;">
            <span style="color: #3ac3cb;">CHRISTOS</span><span class="grey" style="color: #212121;">TALAGOZIS</span>
        </a>
    </div>
    <div class="copyright">
        <p>© Copyright 2013 - @(DateTime.Now.Year).</p>
        <p>All Right Reserved By <span>Talagozis</span></p>
    </div>
</div>
<!-- <p>&copy; 2017 - Talagozis Christos</p> -->