.intro-title1 {
  font-size: 36px;
}
@media (min-width: 768px) {
  .intro-title1 {
    font-size: 40px;
  }
}
@media (min-width:992px) {
  .intro-title1 {
    font-size: 46px;
  }
}
@media (min-width: 1300px) {
    .container {
        width: 1270px;
    }
}
.project-name {
  font-size: 13px;
  font-weight: bold;
}
.project-description {
  color: #999999;
}